<div id="box-with-image" class="col-md-12">
<div class="container" id="btnContainer">
  <div class="row">
    <h1 id="btnh1">How can<br>we <b>help?</b></h1>
  </div>

  <div class="row">
    <div class="col-lg-3 ms-p-m">
      <a class="helpBox" href="/account-orders">
        <h5>Account/Orders</h5>
      </a>
    </div>

    <div class="col-lg-3 ms-p-m">
      <a class="helpBox" href="/payment">
        <h5>Payment</h5>
      </a>
    </div>

    <div class="col-lg-3 ms-p-m">
      <a class="helpBox" href="/shipping">
        <h5>Shipping</h5>
      </a>
    </div>

    <div class="col-lg-3 ms-p-m">
      <a class="helpBox" href="/others">
        <h5>Others</h5>
      </a>
    </div>
  </div>

</div>
</div>
<div>

</div>


<div class="row mt-3">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-3 bg-dark">
    <div class="card bg-dark">
      <div class="card-body">
        <h3 id="h3textthin">Call us directly at</h3>
        <h3 id="h3textbold"> <span class="icon phone"></span>+91 87225 01111<br>
          10:30am to 5:30pm<br>
          Monday to Saturday</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-3 bg-dark">
    <div class="card bg-dark">
      <div class="card-body">
        <h3 id="h3textthin">Email us at</h3>
        <h3 id="h3textbold"> <span class="icon mail"></span>care@acecraft.in</h3>
        <h3 id="h3textthin">After email we will get back<br>
          to you within 2 business days.</h3>
      </div>
    </div>
  </div>
</div>

