<!-- <div class="container">
  <div class="row">

  </div>
  <div class="row">
    <ng-container *ngFor="let item of products">
      <div class="card col-4" >
        <img class="card-img" src="{{item.imgSrc}}">
        <h6 class="card-title">{{item.title}}</h6>
      </div>
    </ng-container>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-9">

    </div>
    <div class="col-3" style="float: right;">
      <select (change)='onOptionsSelected($event)'>
        <option>Sort By:</option>
        <option value="lth">Price : Low to High</option>
        <option value="htl">Price : High to Low</option>
        <option value="nasc">Name : Ascending Order</option>
        <option value="ndesc">Name : Descending Order</option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="card col-4" *ngFor="let item of productsList|sort:[sortParam,sortDirection]">
        <app-single-product [products]="item"> </app-single-product>
      </div>
  </div>

</div>
